@font-face {
    font-family: 'Roboto';
    src: url('../fronts/Roboto-Light.eot');
    src: url('../fronts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fronts/Roboto-Light.woff') format('woff'),
    url('../fronts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fronts/Roboto-Bold.eot');
    src: url('../fronts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fronts/Roboto-Bold.woff') format('woff'),
    url('../fronts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fronts/Roboto-Medium.eot');
    src: url('../fronts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fronts/Roboto-Medium.woff') format('woff'),
    url('../fronts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fronts/Roboto-Regular.eot');
    src: url('../fronts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fronts/Roboto-Regular.woff') format('woff'),
    url('../fronts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('../fronts/Roboto-Thin.eot');
    src: url('../fronts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fronts/Roboto-Thin.woff') format('woff'),
    url('../fronts/Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Black';
    src: url('../fronts/Roboto-Black.eot');
    src: url('../fronts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('../fronts/Roboto-Black.woff') format('woff'),
    url('../fronts/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
